## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 6 to the power of 3?**

In [1]:
6**3

216

** Split this string:**

    s = "Hi there Priyanka!"
    
**into a list. **

In [2]:
s = "Hi there Priyanka!"
s = s.split(" ")
print(s)

['Hi', 'there', 'Priyanka!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [4]:
lst = [1,2,[3,4],[5,[100,200,['world']],23,11],1,7]

In [5]:
lst[3][1][2][0]

'world'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [9]:
d = {'k1':[1,2,3,{'phrase':['I','love','myself',{'target':[1,2,3,'good']}]}]}

In [10]:
d["k1"][3]["phrase"][3]["target"][3]

'good'

** What is the main difference between a tuple and a list? **

In [11]:
print("List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature")

List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def email(email):
  return email.split("@")[1]

In [15]:
email_var = "priya123@mcet.in"
print(email(email_var))

mcet.in

** Create a basic function that returns True if the word 'game' is contained in the input string. Sport pertains to any form of competitive physical activity or game that aims to use, maintain, or improve physical ability and skills while providing enjoyment to participants and, in some cases, game to entertainment the spectators. **

In [18]:
def word_found(word):
  return True if "game" in str(word) else False

In [19]:
word = "Sport pertains to any form of competitive physical activity or game that aims to use, maintain, or improve physical ability and skills while providing enjoyment to participants and, in some cases, game to entertainment the spectators"
word_found(word)

True

** Create a function that counts the number of times the word "game" occurs in a string. Again ignore edge cases. **

In [20]:
def word_found_counts(word):
  return word.count("game")

In [22]:
word = "Sport pertains to any form of competitive physical activity or game that aims to use, maintain, or improve physical ability and skills while providing enjoyment to participants and, in some cases, game to entertainment the spectators"
word_found_counts(word)

2

### Problem
**'''In this program, 
we check if the number is positive or
negative or zero and 
display an appropriate message'''
 **

In [23]:
def positive_or_negative(num):
    if num > 0:
        print("Positive number")
    elif num == 0:
        print("Zero")
    else:
        print("Negative number")

In [27]:
positive_or_negative(3.4)

Positive number

In [28]:
positive_or_negative(-10)

Negative number

Create a chocolate list with basic costprice values(at least 5 values for 5 chocolates)  and using a for loop retreive each chocolates costprice and calculate total costprice.

In [30]:
chocolates = [["Diarymilk",70],["Kitkat",50],["Chocochoki",5],["Milkybar",20],["Kisses",60]]
cost = 0
for i in chocolates:
  
  cost += i[1]
  
print("Total cost of chocolate:",cost)

Total cost of chocolate: 205

Create two dictionaries in Python:

First one to contain fields as Rollno,  Name,  Dept

Second dictionary to contain fields as Mark1,  Mark2.

Combine both dictionaries.

In [33]:
stud_details = {
    "Rollno" : 1,
    "Name": "Priyanka",
    "Dept" : "IT"
}

marks = {
    "Mark1" : 90,
    "Mark2" : 96
}


combine = {
    "Rollno" : stud_details["Rollno"],
    "Name": stud_details["Name"],
    "Dept" : stud_details["Dept"],
    "Mark1" : marks["Mark1"],
    "Mark2" : marks["Mark2"]
}

print(combine)

{'Rollno': 1, 'Name': 'Priyanka', 'Dept': 'IT', 'Mark1': 90, 'Mark2': 96}