## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 12 to the power of 4?**

In [1]:
12**4

20736

** Split this string:**

    s = "Hey I am Naveen!"
    
**into a list. **

In [2]:
s = "Hey I am Naveen!"
s = s.split(" ")
print(s)

['Hey', 'I', 'am', 'Naveen!']

** Given the variables:**

    name = "naveen"
    height = 180

** Use .format() to print the following string: **

    My name is naveen and my height is 180 cm.

In [6]:
name = "naveen"
height = 180
print("My name is {} and my height is {} cm.".format(name,height))

My name is naveen and my height is 180 cm.

** Given this nested list, use indexing to grab the word "world" **

In [8]:
arr = [1,2,[3,4],[5,[100,200,['world']],23,11],1,7]

In [9]:
arr[3][1][2][0]

'world'

** Given this nest dictionary grab the word "happy". Be prepared, this will be annoying/Details **

In [10]:
d = {'res':[1,2,3,{'Details':['Naveen','Coimbatore','IT',{'target':[1,2,3,'happy']}]}]}

In [11]:
d["res"][3]["Details"][3]["target"][3]

'happy'

** What is the main difference between a tuple and a list? **

In [12]:
print("List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature")

List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def email(email):
  return email.split("@")[1]

In [15]:
email_str = "naveenG08@mcet.in"
print(email(email_str))

mcet.in

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [16]:
def word_found(word):
  return True if "place" in str(word) else False

In [17]:
String = "For a long time he wandered in fear from place to place."
word_found(String)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [18]:
def word_found_counts(word):
  return word.count("place")

In [20]:
String = "For a long time he wandered in fear from place to place."
word_found_counts(String)

2

### Problem
**A school has following rules for grading system:
    a. Below 25 - F
    b. 25 to 45 - E
    c. 45 to 50 - D
    d. 50 to 60 - C
    e. 60 to 80 - B
    f. Above 80 - A
    Ask user to enter marks and print the corresponding grade.**

In [26]:
def grade(marks):
    print("Grade : ",end="")
    if marks<25:
      print("F")
    elif marks>=25 and marks<45:
      print("E")
    elif marks>=45 and marks<50:
      print("D")
    elif marks>=50 and marks<60:
      print("C")
    elif marks>=60 and marks<80:
      print("B")
    else:
      print("A")

In [25]:
grade(81)

Grade :A

In [27]:
grade(56)

Grade : C

Create an company list with basic salary package(at least 5 values for 5 company)  and using a for loop retreive each company salary package and calculate total package.

In [30]:
company = [["Zoho",800000],["Soliton",700000],["Virtusa",550000],["Heaxware",600000],["Vuram",450000]]
package_total = 0
for i in company:
  
  package_total += i[1]
  
print("Total package: ",package_total)

Total package:  3100000

Create two dictionaries in Python:

First one to contain fields as Name,  Location,  Basicpay

Second dictionary to contain fields as Company,  Team_id.

Combine both dictionaries.

In [31]:
basic_details = {
    "Name" : "Naveen",
    "Location": "Coimbatore",
    "Basicpay" : 600000.00
}

comapany_details = {
    "Company" : "Zoho Corporation",
    "Team_id" : 1401
}


combine = {
    "Name" : basic_details["Name"],
    "Location": basic_details["Location"],
    "Basicpay" : basic_details["Basicpay"],
    "Company" : comapany_details["Company"],
    "Team_id" : comapany_details["Team_id"]
}

print(combine)

{'Name': 'Naveen', 'Location': 'Coimbatore', 'Basicpay': 600000.0, 'Company': 'Zoho Corporation', 'Team_id': 1401}