## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sneha!"
    
**into a list. **

In [1]:
s = "Hi there Sneha!"
s = s.split(" ")
print(s)

['Hi', 'there', 'Sneha!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "world". Be prepared, this will be annoying/tricky **

In [2]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'world']}]}]}

In [3]:
d["k1"][3]["tricky"][3]["target"][3]

'world'

** What is the main difference between a tuple and a list? **

In [4]:
print("List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature")

List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [6]:
def email(email):
  return email.split("@")[1]

In [7]:
email_var = "snehaamuthes@domain.com"
print(email(email_var))

domain.com

** Create a basic function that returns True if the word 'the' is contained in the input string. Don't worry about the edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [23]:
def word_found(word):
  return True if "the" in str(word) else False

In [24]:
word = "Don't worry about the edge cases like a punctuation being attached to the word dog, but do account for capitalization"
word_found(word)

True

** Create a function that counts the number of times the word "the" occurs in a string. Again ignore edge cases. **

In [25]:
def word_found_counts(word):
  return word.count("the")

In [26]:
word = "Don't worry about the edge cases like a punctuation being attached to the word dog, but do account for capitalization dogs"
word_found_counts(word)

2

### Problem
**A student will not be allowed to sit in exam if his/her attendence is less than 75%.
    Take following input from user
    Number of classes held
    Number of classes attended.
    And print
    percentage of class attended
    Is student is allowed to sit in exam or not. **

In [27]:
def func(noh, noa):
    atten = (noa/float(noh))*100
    print("Attendence is",atten)
    if atten >= 75:
      print("You are allowed to sit in exam")
    else:
      print("Sorry, you are not allowed. Attend more classes from next time.")

In [28]:
print("Number of classes held")
noh = 20
print("Number of classes attended")
noa = 17
func(20,17)

Number of classes held
Number of classes attended
Attendence is 85.0
You are allowed to sit in exam

In [29]:
print("Number of classes held")
noh = 20
print("Number of classes attended")
noa = 10
func(20,10)

Number of classes held
Number of classes attended
Attendence is 50.0
Sorry, you are not allowed. Attend more classes from next time.

Create an food list with basic costprice values(at least 5 values for 5 food items)  and using a for loop retreive each food costprice and calculate total amount.

In [30]:
food = [["noodles",100],["rice",80],["pasta",120],["puri",50],["idly",30]]
total_amount = 0
for i in food:
  
  total_amount += i[1]
  
print("total cost: ",total_amount)

total cost:  380

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as Company_name,  Team_id.

Combine both dictionaries.

In [31]:
basic_emp = {
    "Empid" : 1,
    "Empname": "Sneha",
    "Basicpay" : 200000.00
}

company_details = {
    "Company_name" : "NTT Data",
    "Team_id" : 1401
}


combine = {
    "Empid" : basic_emp["Empid"],
    "Empname": basic_emp["Empname"],
    "Basicpay" : basic_emp["Basicpay"],
    "Company_name" : company_details["Company_name"],
    "Team_id" : company_details["Team_id"]
}

print(combine)

{'Empid': 1, 'Empname': 'Sneha', 'Basicpay': 200000.0, 'Company_name': 'NTT Data', 'Team_id': 1401}