## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 38 to the power of 5?**

In [1]:
38**5

79235168

** Split this string:**

    s = "Good Morning Pragadees!"
    
**into a list. **

In [2]:
s = "Good Morning Pragadees!"
s = s.split(" ")
print(s)

['Good', 'Morning', 'Pragadees!']

** Given the variables:**

    emp_name = 'Leo Shein'
    emp_age = 24
    print("Name: %s Age: %d"%(emp_name,emp_age))


** Use .format() to print the following string: **

    Name: Leo Shein Age: 24.

In [7]:
emp_name = 'Leo Shein'
emp_age = 24
print("Name: %s Age: %d"%(emp_name,emp_age))

Name: Leo Shein Age: 24

** Given this nested list, use indexing to grab the word "hello" **

In [4]:
lst = [1,2,[3,4],[5,[100,200,['Bonda']],23,11],1,7]

In [5]:
lst[3][1][2][0]

'Bonda'

** Given this nest dictionary grab the word "praga". Be prepared, this will be annoying/Favourite **

In [8]:
d = {'k1':[1,2,3,{'Favourite':['I','like','Briyani',{'target':[1,2,3,'praga']}]}]}

In [10]:
d["k1"][3]["Favourite"][3]["target"][3]

'praga'

** What is the main difference between a tuple and a list? **

In [11]:
print("List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature")

List and Tuple in Python are the classes of Python Data Structures. The list is dynamic, whereas the tuple has static characteristics. This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [12]:
def email(email):
  return email.split("@")[1]

In [13]:
email_var = "praga16@gmail.com"
print(email(email_var))

gmail.com

** Create a basic function that returns True if the word 'games' is contained in the input string. Playing games are an essential part of education and development. Playing games builds an assertive attitude towards learning. **

In [14]:
def word_found(word):
  return True if "games" in str(word) else False

In [15]:
word = "Playing games are an essential part of education and development. Playing games builds an assertive attitude towards learning."
word_found(word)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [17]:
def word_found_counts(word):
  return word.count("games")

In [18]:
word = "Playing games are an essential part of education and development. Playing games builds an assertive attitude towards learning."
word_found_counts(word)

2

### Problem
**Given a two number x and y 
to display "x is greater than y" if x>y or
to display "y is greater than x" if x<y
to display "x is equal to y" if x=y**

In [28]:
def func(x,y):
    if x > y:
        print("x is greater than y")
    elif x < y:
        print("x is less than y")
    else:
        print("x is equal to y")

In [25]:
x,y=10,20
func(x,y)

x is less than y

In [26]:
x,y=20,20
func(x,y)

x is equal to y

In [27]:
x,y=30,20
func(x,y)

x is greater than y

Create an bike list with basic costprice values(at least 5 values for 5 bike model)  and using a for loop retreive each bike costprice and calculate total amount.

In [29]:
bike = [["Splender",70000],["KTM",160000],["R15",185000],["RX100",50000],["Himalayan",250000]]
amount = 0
for i in bike:
  
  amount += i[1]
  
print(amount)

715000

Create two dictionaries in Python:

First one to contain fields as Name,  Number,  Gender

Second dictionary to contain fields as food,  Snacks.

Combine both dictionaries.

In [1]:
basic_details = {
    "Name" : "Pragadeeswaran",
    "Number": 8248787647,
    "Gender" : "Male"
}

favourites = {
    "Food" : "Briyani",
    "Snacks" : "Bonda",
}


combine = {
    "Name" : basic_details["Name"],
    "Number": basic_details["Number"],
    "Gender" : basic_details["Gender"],
    "Food" : favourites["Food"],
    "Snacks" : favourites["Snacks"]
}

print(combine)

{'Name': 'Pragadeeswaran', 'Number': 8248787647, 'Gender': 'Male', 'Food': 'Briyani', 'Snacks': 'Bonda'}